snippet =
	<%= ${1} %>
snippet -
	<%- %{1} %>
snippet ff
	<%= form_for ${1:resource} do |f| %>

		<div>
			<%= f.label :${2:label} %><br />
			<%= f.text_field :${2} %>
		</div>

		<div><%= f.submit "Update" %></div>
	<% end %>


